# Binaries
[Oo]bj/
[Bb]in/

# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon

# Rider / Visual Studio
.idea/
.vs/
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]inaries/
[Oo]utput/
[Qq]c[Rr]esults/

# NuGet Packages
*.nupkg
packages/

# AppSettings (Optional, uncomment if you want to keep connection strings private)
# appsettings.json
# appsettings.Development.json
